@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

.rsw-ce ul {
  list-style: disc;
  padding-left: 2em;
}

.rsw-ce ol {
  list-style: decimal;
  padding-left: 2em;
}

.editor-container {
  width: 100%;
  max-width: 800px; /* Set a max width if desired */
  margin: 0 auto; /* Center the editor */
}

.editor {
  width: 100%;
  height: 300px; /* You can adjust this */
  box-sizing: border-box; /* Ensure padding is included in width/height */
}

* {
  font-family: "Roboto";
  font-style: normal;
 
}

.inlineText{
  word-break:normal;
  inset-block-end: 30px;
  block-size: auto;
}

.background {
background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(98,98,230,1) 70%, rgba(0,212,255,1) 100%);
}

.cardBackground{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,29,224,1) 21%, rgba(0,212,255,1) 100%);
}
